* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(187, 187, 187);
    width: 1000px;
    height: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-grow: 2px;
    ;
   
    
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.red {
    background-color: rgb(62, 0, 0);
    
    
}
.green {
    background-color: green;
    flex: 1 1 300px;
    
   
}
.blue {
    background-color: blue;
    
}
    