* {
    box-sizing: border-box;
}
body {
    
    background-color: rgb(31, 47, 47);
}

.container {
    height: 100vh;
    color: #000000;
    border-radius: 10px;
    font-size: 150%;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(, 50px);
    gap: 20px;
    justify-content: center;
    align-content: center;
    
  }

  .item {
    padding: 20px;
    background-color: aquamarine;
    border-radius: 5px;
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .two {
    grid-column: 2 / 4;
  }
  .three {
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 2 / 4;
  }
  .five {
    grid-column: 1 / 4 ;
    grid-row: 3 / 8 ;
  }
  .six {
    grid-column: 1 / 3;
  }